h1{
    font-size: 6em;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: grey;
    box-sizing: border-box;
}
#intro{
    font-size: 2em;
    font-family: cursive;
}
header {
    background-color: black;
    color: white;
    text-align: center;
    padding-right: -40px;
    padding: 0.5em;
    
}

nav {
    width: 200px;
    height: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-right: 5px grey solid;
    padding-top: 20px;
}

h2{
    font-size: 4em;
    font-family: Arial, Helvetia, sans-serif;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #afafaf;
    transition: background-color 0.3s;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
}
body{
    border-color: red;
}
nav a:hover {
    background-color: #757575;
}

section {
    margin-left: 200px;
    margin-top: 5px;
    margin-right: 5px;
    padding: 1em;
    border-radius: 10px;
    background-color: rgb(171, 179, 179);
}
