h1{
    font-size: 4em;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #222222;
    color: white;
    text-align: center;
    padding-right: -40px;
    padding: 0.5em;
    
}

nav {
    width: 200px;
    height: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-right: 5px white solid;
    padding-top: 20px;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #afafaf;
    transition: background-color 0.3s;
}
body{
    border-color: red;
}
nav a:hover {
    background-color: #757575;
}

section {
    margin-left: 200px;
    margin-top: 5px;
    margin-right: 5px;
    padding: 1em;
    background-color: cadetblue;
}
